@import "tailwindcss";

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #374151;
}

::-webkit-scrollbar-thumb {
  background: #34aeeb;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2a8bc7;
}

/* Smooth transitions */
* {
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

:root {
  --sidebar-width: 0; /* default when Sidebar is not mounted */
}

@media (min-width: 768px) {
  .with-sidebar-md {
    margin-left: var(--sidebar-width);
  }
}
